<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<customErrors mode="Off" />
	</system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="static-to-pren" enabled="true" stopProcessing="true">
                    <match url="static/(.*)" />
                    <action type="Rewrite" url="/pren/static/{R:1}" />
                </rule>
                <rule name="api-to-pren" enabled="true" stopProcessing="true">
                    <match url="api/(.*)" />
                    <action type="Rewrite" url="/pren/api/{R:1}" />
                </rule>
                <rule name="no-pren-to-pren" enabled="false" stopProcessing="true"> 
                    <match url="^pren/(.*)" negate="true" />
                    <action type="Redirect" url="/pren/{R:1}" />
                </rule>
            </rules>
        </rewrite>	
    </system.webServer>
</configuration>
