<?xml version="1.0"?>

<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="UseKayakTestWS" value="false" />

  <!-- WebService urls for Kayak Test and Prod-->
  <add key="KayakTestWSUrl" value="http://91.209.29.37/KayakWebServicesTest/KayakWebservice.asmx" />
  <add key="KayakProdWSUrl" value="http://91.209.29.37/KayakWebServices/KayakWebservice.asmx" />

  <add key="nets_currencyCode" value="SEK" />
  <!-- Campaign default values -->
  <add key="camp_sSalesNo" value="" />
  <add key="camp_sTargetGroup" value="" />
  <add key="camp_sReceiveType" value="04" />
  <add key="camp_dblDiscAmount" value="0" />
  <add key="camp_sCirculation" value="Y" />
  <add key="camp_sCollectInv" value="Y" />
  <add key="camp_sNotes" value="" />
  <add key="camp_sExpDay" value="" />
  <add key="camp_sTerms" value="" />
  <add key="camp_sCategory" value="" />
  <add key="camp_lMasterCusno" value="0" />
  <add key="camp_sCusType" value="01" />
  <add key="camp_sCusTypeCorp" value="02" />
  <!--// Campaign default values  -->

  <add key="DI_VATPercentage" value="6" />
  <add key="IPAD_VATPercentage" value="25" />
  <add key="GasellFlow_VATPercentage" value="25" />

  <!-- Domain - used when checking referrer when using web-api -->
  <add key="domain" value="www.di.se,pren.di.se" />
  <!-- /Domain -->

  <!--Nets card payment - PROD-->
  <add key="nets_merchantId"    value="520893"/>
  <add key="nets_passwd"        value="mS!64*tQ"/>
  <add key="nets_token"         value="c?4E9P=o"/>
  <add key="nets_currencyCode"  value="SEK"/>
  <add key="nets_language"      value="sv_SE"/>
  <add key="nets_urlTerminal"   value="https://epayment.nets.eu/terminal/default.aspx"/>
  <add key="nets_urlRegister"   value="https://epayment.nets.eu/Netaxept/Register.aspx"/>
  <add key="nets_urlQuery"      value="https://epayment.nets.eu/Netaxept/Query.aspx"/>
  <add key="nets_urlProcess"    value="https://epayment.nets.eu/Netaxept/Process.aspx"/>
  <add key="nets_processSale"   value="true"/>

  <!--Bonnier digital PROD-->
  <add key="BonDigClientId"                     value="di"/>
  <add key="BonDigClientSecret"                 value="L5atI4XY"/>
  <add key="BonDigBrandId"                      value="5DuzcZz0j8u0zArSNzZgHO"/>
  <add key="BonDigAppIdDagInd"                  value="di.se"/>
  <add key="BonDigProductIdOrderFlow"           value="5v9nOSCfkC1abcldsVGAl4"/>
  <add key="BonDigProductIdIpad"                value="6ylz1RFbtobUwK8AZMDTzs"/>
  <add key="BonDigProductIdDi6Days"             value="11G8C6AAMCr9jAU9j7oKbm"/>
  <add key="BonDigProductIdDiWeekend"           value="1edG3ChVjlxScoKsI8KzuA"/>
  <add key="BonDigProductIdDise"                value="5fm0NQAw9Vrar1ckMoW8ev"/>
  <add key="BonDigProductIdAgendaEnergy"        value="4ke2NB9nrIHYnFnLwDfYf8"/>
  <add key="BonDigProductIdAgendaHealthCare"    value="6e9QbTFtJAN5YBmGTbAxjF"/>
  <add key="BonDigProductIdAgendaImportExport"  value="1fdg59ETUpqtuuEOkaNB4M"/>
  <add key="BonDigUrlCreateToken"               value="https://api.bonnier.se/v1/oauth/token"/>
  <add key="BonDigUrlCreateUser"                value="https://api.bonnier.se/v1/users"/>
  <add key="BonDigUrlCreateSubs"                value="https://api.bonnier.se/v1/subscriptions"/>
  <add key="BonDigUrlCreateImport"              value="https://api.bonnier.se/v1/entitlements/import"/>
  <add key="BonDigUrlCreateEntitlement"         value="https://api.bonnier.se/v1/entitlements"/>
  <add key="BonDigUrlExternalIds"               value="https://api.bonnier.se/v1/entitlements/external-ids"/>
  <add key="BonDigUrlUsersCurrent"              value="https://api.bonnier.se/v1/users/current"/>
  <add key="BonDigUrlAccount"                   value="https://login.di.se/"/>
  <add key="BonDigCreateAccountPage"            value="register"/>
  <add key="BonDigLoginPage"                    value="login"/>
  <add key="BonDigLogoutPage"                   value="logout"/>
  <add key="BonDigCheckLoginPage"               value="check-logged-in"/>
  <add key="BonDigAutoRegister"                 value="auto/register"/>
  <add key="BonDigLoginRetHandler"              value="http://dagensindustri.se/Handlers/SingleSignOn/BonDigReturnHandler.ashx"/>
  <add key="BonDigVerifyEntitlement"            value="https://api.bonnier.se/v1/resources/verify-entitlement"/>
  <add key="BonDigUseVerifyEntitlement"         value="true"/>
  <add key="BonDigExtProdIdPaper6Days"          value="DI-01"/>
  <add key="BonDigExtProdIdPaperWeekend"        value="DI-05"/>
  <add key="BonDigExtProdIdIpad"                value="IPAD-01"/>
  <add key="BonDigExtProdIdIpadKayak"           value="DI-IPAD"/>
  <add key="BonDigExtProdIdDise"                value="DISE-01"/>
  <add key="BonDigExtResourceIdPdfPaper"        value="DI-PDFPAPER"/>
  <add key="BonDigExtProdIdAgendaEnergy"        value="AGENDA-01"/>
  <add key="BonDigExtProdIdAgendaHealthCare"    value="AGENDA-02"/>
  <add key="BonDigExtProdIdAgendaImportExport"  value="AGENDA-03"/>
  <add key="BonDigSecretKey"                    value="qwerty"/>
  <add key="BonDigProductId1WeekFor29SEK"       value="1NM4TJH8uUXTtPlijnfCcK"/>
  <add key="BonDigUrlCreateOrUpdateOffer"       value="https://api.bonnier.se/v1/offers/create-or-update"/>
  <add key="BonDigForgotPasswordUrl"            value="https://login.di.se/password/forgot-password"/>
  <add key="BonDigChangePasswordUrl"            value="https://login.di.se/password/change-password"/>
  <add key="BonDigUrlCreateOrder"               value="https://login.di.se/webpayment/process-order"/>
  <!--/Bonnier digital PROD-->

  <add key="StudentVerificationUrl" value="https://www.mecenat.se/rest/verify/student" />
  <add key="StudentVerificationUserName" value="bonniernews" />
  <add key="StudentVerificationPassword" value="x547yiT8#8b33T" />

  <add key="writeToInfoLog" value="true" />

  <add key="mailNoReplyDiSe" value="noreply@di.se" />
  <add key="mailPrenDiSe" value="pren@di.se" />
  <add key="mailPrenFelDiSe" value="prenfel@di.se" />
  <!--PROD: prenfel@di.se-->
  <add key="mailWebmasterDiSe" value="kristoffer.jansson@di.se" />
  <!--PROD: petter.luotsinen@di.se-->

  <!--autowithdrawal (awd) keys-->
  <add key="diPlusSubsnoNewStandAlone" value="1191"/>
  <!--PROD: 1285,1286,1287-->
  <add key="diPlusSubsnoUpgrade6Day" value="1192"/>
  <add key="diPlusSubsnoUpgradeWeekend" value="1193"/>

  <add key="UseAurigaTestWS" value="true"/>

  <add key="awdPriceGroupUpg" value="14"/>
  <add key="awdCancelReason" value="58"/>
  <!--prod:51-->

  <add key="awdNumDaysFwdPayIntervalStart" value="3"/>
  <add key="awdNumDaysFwdPayIntervalEnd" value="4"/>

  <add key="awdSendPayPageLinkToCust" value="true"/>
  <add key="awdPayPageUrl" value="http://dagens.dev/misc/AwdCardPayPage"/>

  <add key="awdJobDeactivated" value="false"/>

  <!--serialized objects (used if session dies when subscription is created)-->
  <!--<add key="pathSerializedSubs" value="C:\svn\DagensIndustri\WebEpi\Trunk\EPiServer\Sites\DagensIndustri\Templates\DI\Pages\Subscription\PersistedObjects\" />-->
  <add key="pathSerializedSubs" value="E:\inetpub\wwwroot\Di-Pren\appdata\persistedObjects\" />
  <add key="daysKeepSerializedSubs" value="30" />

  <add key="HideSubsSleepsForAutogiroCust" value="false"/>

  <add key="InsertPayTransSecret" value="gasell2014!kYr#Ptoz?10"/>
  <add key="KundoApiUrl" value="https://kundo.se/api/"/>

  <add key="PriceGroupTrialPeriod" value="42"/>

  <!-- Appsettings - PAR find person/company -->
  <add key="OBOPersonSearchUserName" value="horarl@dagensindustri"/>
  <add key="OBOPersonSearchPassword" value="dT5ETCBv"/>  
  <!-- /Appsettings - PAR find person/company -->

  <!-- Optimizely scripts-->
  <add key="OptimizelyDesktopScriptSrc" value="//cdn.optimizely.com/js/2571330036.js"/>
  <add key="OptimizelyMobileScriptSrc" value="//cdn.optimizely.com/js/2571330036.js"/>
  <!-- /Optimizely scripts-->

  <!-- ServicePlus-->
  <add key="ServicePlusApiBaseUrl" value="https://api.bonnier.se/v1/"/>
  <add key="ServicePlusLoginPageUrl" value="https://login.di.se/"/>
  <add key="ServicePlusClientId" value="di"/>
  <add key="ServicePlusClientSecret" value="L5atI4XY"/>
  <add key="ServicePlusMustNotHaveProducts" value="*-IPAD_01-*,*-IPAD_02-*"/>
  <add key="ServicePlusExternalProductIdsToInclude" value="AGENDA_01,AGENDA_02,AGENDA_03,DIEGO_01,DISE_01,DITV_01,DIY_01,DI_01,DI_02,DI_03,DI_04,DI_05,DI_DIG,DI_DIG_P2,DI_DIG_P2,DI_DIG_P6,DI_DIG_P6,DI_MAX,DI_MAX_P2,DI_MAX_P2,DI_MAX_P6,DI_MAX_P6,FLEX,FLEX,IPAD_01,IPAD_02,WEEKEND_05,AGENDA-01,AGENDA-02,AGENDA-03,DIEGO-01,DISE-01,DITV-01,DIY-01,DI-01,DI-02,DI-03,DI-04,DI-05,DI-IPAD,DI-05,DI-IPAD,DI-01,DI-IPAD,DI-IPAD2,DI-05,DI-IPAD2,DI-01,DI-IPAD2,DI-05,DI-IPAD,DI-IPAD,DI-IPAD,WEEKEND-05"/>
  <!-- /ServicePlus--> 

  <!-- NeoLane -->
  <add key="NeoLaneEndPointUrl" value="https://expressen-s.neolane.net/nl/jsp/soaprouter.jsp" />
  <add key="NeoLaneEndPointUser" value="epi" />
  <add key="NeoLaneEndPointPassword" value="1CTxbsBM" />
  <!-- /NeoLane -->

  <!-- Bright -->
  <add key="SurveyEndPointUrl" value="https://www.brightnavigator.se/brightservice/brightservice.asmx/EnqueueWebLinkWithMetaKeyAndAttributes" />
  <add key="SurveyEndPointCompany" value="Bonnier_News" />
  <add key="SurveyEndPointUser" value="BonnierChattWS" />
  <add key="SurveyEndPointPassword" value="HbDxbKE3HJCcrei" />
  <!-- /Bright -->

  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

  <!-- BonnierNews Subscription API-->
  <add key="BonnierNewsSubscriptionApiBaseUrl" value="http://selfservice-api.bonnier.news/"/>
  <add key="BonnierNewsSubscriptionApiClientId" value="apiadmin" />
  <add key="BonnierNewsSubscriptionApiClientSecret" value="Mf7$nmUP!GnvaCa[UhjjZz85Vf!!3vnS5aL" />
  <!-- /BonnierNews Subscription API-->

  <!-- Strålfors Invoice API-->
  <add key="invoiceApiUrl" value="https://earchive.stralfors.com/sc/api/SE_DN_Di/SE_DN_Di?doctypes={0}&amp;i.1=customer_number&amp;o.1=EQ&amp;t.1={1}&amp;s.1=invoice_date&amp;d.1=d" />
  <add key="invoiceApiStreamUrl" value="https://earchive.stralfors.com/sc/filestream/SE_DN_Di/SE_DN_Di/cust:Invoice?uuid={0}" />
  <add key="invoiceApiUserName" value="DN_DI_API@dn.se" />
  <add key="invoiceApiPassword" value="ZMkcDd0cEUehahKFgoMd" />
  <add key="invoiceEncryptKey" value="D63895y47jw5J2HX832025F975ck6Ngr" />
  <add key="invoiceEncryptIv" value="b6qAf8U7EVvFflJL" />
  <!-- /Strålfors Invoice API-->
</appSettings>
