@using System.Web.Optimization
@model Pren.Web.Models.ViewModels.MySettings.BusinessSubscriptionPageViewModel

@section PageSpecificCssIncludes
{
    @Styles.Render("~/bundles/css/businesscampaignadmin")
}

@{ Layout = "~/Views/Shared/Layouts/_MyPage.cshtml"; }

@Html.PropertyFor(x => x.CurrentPage.MainBody)

@{ Html.RenderPartial("~/Views/MySettings/Shared/_Message.cshtml", TempData["Message"], new ViewDataDictionary()); }

<div class="row">
    <div class="col-md-12">
        <p>Din företagsprenumeration har gått ut.</p>
        <p>Kontakta kundtjänst för att förnya den.</p>
    </div>
</div>