@model Pren.Web.Models.Blocks.Di.WidgetBlocks.DateAndTimeWidgetBlock

<div class="widget-content date-and-time-widget">
    <h3>
        Klockan är
    </h3>    

    <div class="widget-body">
        <span class="widget-time"></span>
        <span class="widget-date"></span>
    </div>
</div>
