<connectionStrings>
  <add name="EPiServerDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Pren.Web.Cms;Integrated Security=False;User ID=sa;Password=12345678;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="PrenWebMisc" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Pren.Web.Misc;Integrated Security=False;User ID=sa;Password=12345678;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="DisePren" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Pren.Web.Misc;Integrated Security=False;User ID=sa;Password=12345678;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="MDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Pren.Web.Misc;Integrated Security=False;User ID=sa;Password=12345678;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="DISEMiscDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Pren.Web.Misc;Integrated Security=False;User ID=sa;Password=12345678;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <!-- added for logging -->
  <add name="DagensIndustriMISC" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Pren.Web.Misc;Integrated Security=False;User ID=sa;Password=12345678;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="PrenWebMiscEntities" connectionString="metadata=res://*/Business.Data.Pren.Web.csdl|res://*/Business.Data.Pren.Web.ssdl|res://*/Business.Data.Pren.Web.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Pren.Web.Misc;integrated security=False;user id=sa;password=12345678;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>