

<span id="addressStreetName"><%= address.streetName %></span>
<span id="addressStreetNo"><%= address.streetNumber %></span>
<span id="addressStairCase"><%= address.stairCase %></span>
<span id="addressStairs"><%= address.stairs %></span>
<span id="addressCo"><%= address.co %></span>, 
<span id="addressZip"><%= address.zip %></span>
<span id="addressCity"><%= address.city %></span>

<div>
    <a href="#" id="togglePermAddress" title="Ändra adress" class="shortcut" data-shortcut="permaddresschange">Gör permanent adressändring <span class="fa fa-pencil-square-o"></span></a>
</div>


