@using System.Web.Optimization
@model Pren.Web.Models.ViewModels.CampaignPageOrderViewModel
@{
    Layout = "~/Views/Shared/Layouts/_Campaign.cshtml";
}

@section PageSpecificCssIncludes
{
    @Styles.Render("~/bundles/css/campaigniframe")    
}

<div id="confirm-area" class="container">
    <div class="row confirmation-copy">
        <div class="col-md-6">
            <div class="confirmation-header">
                <h1>Hoppsan! Något gick fel.</h1>
            </div>
            <div class="confirmation-text">
                <div class="alert alert-danger">
                    @Html.Raw(Model.ErrorMessage)
                </div>
            </div>
            <a href="@Url.ContentUrl(Model.CurrentPage.ContentLink)" class="btn btn-lg btn-primary">Tillbaka till kampanjen</a>
        </div>
    </div>
</div>