/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #c7291e; color: #fff; text-shadow: none; }
::selection { background: #c7291e; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #fff; }
a:focus { outline: none; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */

body {
	background-color: #000;
	color: #fff;
	font-family: 'Arial', sans-serif;
	font-size: 15px;
	line-height: 21px;
}

a { color: #c7291e; text-decoration: underline; cursor: pointer; }
a:hover { color: #fff; }

#container {
	position: relative;
	width: 940px;
	padding: 60px 0 0 0;
	margin: 0 auto;
	overflow: hidden;
}

.hidden { display: none; }

/* BTNS */

button,
button span,
.btn,
.btn span {
	cursor: pointer;
	display: block;
	float: left;
	height: 32px;	
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.35);
	color: #fff;
	background: url(../images/subscriptionDiPlus/sprite.png) 100% -150px no-repeat;	
	padding: 0 16px 0 0;
	border: none;
}
	button span,
	.btn span {
		background-position: 0 -100px;
		padding: 0 7px 0 23px;
	}
button:hover,
.btn:hover { background-position: 100% -350px; text-decoration: none; }
button:hover span,
.btn:hover span { background-position: 0 -300px; }

	/* BTN : Large */
	
	.btn-large,
	.btn-large span {
		height: 39px;	
		font-size: 18px;
		line-height: 37px;
		font-weight: bold;
		text-decoration: none;
		text-shadow: -1px -1px 0 rgba(0,0,0,0.35);
		color: #fff;
		background: url(../images/subscriptionDiPlus/sprite.png) 100% -50px no-repeat;	
		padding: 0 19px 0 0;
	}
		.btn-large span {
			background-position: 0 0;
			padding: 0 11px 0 30px;
		}
	.btn-large:hover { background-position: 100% -250px; }
	.btn-large:hover span { background-position: 0 -200px; }

	
	/* BTN : Wrappers */

	.btn-wrapper {
		margin: 0 0 21px 0;
		overflow: hidden;
		position: relative;
		left: -3px;
	}
	
	.btn-wrapper-large { margin: 0 0 105px 0; }

	.btns-wrapper {
		overflow: hidden;
		position: relative;
		top: 10px;
		margin: 0 0 31px 0;
		border-top: 1px solid #333;
		padding: 20px 0 0 0;
		clear: both;
	}
	
		.btns-wrapper .btn-wrapper { left: 0; position: static; }


/* LINKS */

.link-back {
	position: absolute;
	top: 8px;
	left: 2px;
	color: #c7291e;
	font-size: 11px;
	line-height: 13px;
	text-decoration: none;
	background: url(../images/subscriptionDiPlus/bg-link.png) 0 -146px no-repeat;
	padding-left: 12px;
}
	.link-back:hover {color: #c7291e; text-decoration: underline; }

/* FORMS */

.form-field {
	position: relative;
	margin: 0 0 15px 0;
}

.form-divider {
	border-top: 1px solid #333;
	padding-top: 21px;
}

.form-description {
	top: 13px;
	margin-bottom: 18px;
}

.form-radios .form-radio {
	float: left;
	margin: 0 21px 5px 0;
}

label {
	font-size: 14px;
	line-height: 17px;
	font-weight: bold;
	margin: 0 0 3px 0;
	display: block;
}

.form-radios .form-radio label {
	display: inline;
	font-weight: normal;
}

p.description {
		font-size: 11px;
		color: #666;
		font-weight: normal;
		font-style: normal;
		margin: 0;
	}

input.text {
	display: block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 215px;
	padding: 5px 4px 4px 4px;
	border: none;
	font-size: 14px;
	line-height: 17px;
	font-family: 'Arial', sans-serif;
	background: #fff url(../images/subscriptionDiPlus/form-sprite.png) 0 0 repeat-x;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.65);	
	-moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.65);	
	-webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.65);
}

input.removed {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.form-field-small input.text {
	width: 100px;
}

.form-radios .form-radio input {
	display: inline;
}

.field-status {
	display: block;
	position: absolute;
	top: 28px;
	left: 230px;
	width: 8px;
	height: 8px;
	background: url(../images/subscriptionDiPlus/form-sprite.png) 0 -50px no-repeat;	
}

	.form-divider .field-status {
		top: 49px;
	}

.form-field-invalid .field-status { background-position: 0 -100px; }

.field-msg-error {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	white-space: nowrap;
	background: url(../images/subscriptionDiPlus/form-sprite.png) 100% 100% no-repeat;		
	padding: 2px 0 20px 0;
}

	.form-divider .field-msg-error { top: 21px;}

	.field-msg-error p {
		color: #c7291e;
		font-size: 11px;
		line-height: 15px;
		font-weight: bold;
		margin: 0;
		min-width: 150px;
		text-align: right;
	}

p.form-description { overflow: hidden; }

p.form-description span { float: left; display: block;}

p.required,
p span.required {
	display: block;
	float: right;
	white-space: nowrap;
	padding: 2px 0 0 12px;
	background: url(../images/subscriptionDiPlus/form-sprite.png) 0 -43px no-repeat;	
	font-size: 12px;
	line-height: 21px;
}

p.required {
	position: relative;
	margin-top: -10px;
	float: none;
}

.payment-method { float: right; }

.payment-method:first-child { float: left; }
#payment-time-month,
.payment-method.first-child { float: left; }

#payment-time-month { display: none; }


/* Main content */

#main {
	float: right;
	width: 380px;
}

h1 {
	margin: 0 0 13px 0;
	font-size: 28px;
	line-height: 31px;
	letter-spacing: -1px;
	color: #fff;
}

h1.start {
	width: 382px;
	height: 123px;
	background: url(../images/subscriptionDiPlus/sprite.png) 0 -400px no-repeat;
	text-indent: -9999px;
	margin: 0 0 21px 0;
	position: relative;
	top: 5px;
}

h3.red,
h2 {
	font-size: 18px;
	line-height: 21px;
	margin: 0 0 7px 0;
	color: #c7291e;
	font-weight: bold;
}

h2.large {
	font-size: 24px;
	line-height: 25px;
	margin: 0 0 7px 0;
}

h2.xtramargin { margin-bottom: 15px;  }

h2.white { color: #fff; }

h2.small {
	font-size: 14px;
	line-height: 21px;
	margin: 0 0 0 0;
}

h3.red { margin: 0 0 3px 0; }

.payment-method h2 { margin: 0 0 2px 0;}

p {
	font-size: 15px;
	line-height: 21px;
	margin: 0 0 21px 0;
}

p.price {
	position: relative;
	top: -5px;
	margin: 0 0 7px 0;
}

.payment-method p.price {
	margin: 0 0 0 0;
	font-weight: bold;
}

.choice p.price,
p.price-small {
	position: relative;
	top: -5px;
	font-size: 11px;
	line-height: 15px;
	margin: 0 0 7px 0;
	font-weight: bold;	
}

	.choice p.price em,
	p.price-small em {
		color: #666;
		font-weight: normal;
		font-style: normal;
	}
	
.choice .price {
}

p.information {
	clear: both;
	color: #aaa;
	font-size: 10px;
	line-height: 13px;
	margin: 0 0 13px 0;
}

p.information a { color: #aaa; }
p.information a:hover { color: #c7291e; }

.layer {
	display: none;
	position: absolute;
	z-index: 1000;
	top: 20px;
	left: 50%;
}

.layer a.btn-close {
	position: absolute;
	top: 15px;
	right: 16px;
	width: 35px;
	height: 35px;
	background: url(../images/subscriptionDiPlus/sprite.png) 0 -900px no-repeat;
	text-indent: -9999px;
	display: block;
}
.layer a.btn-close:hover { background-position: -50px -900px; }

.choice {
	background-color: #222;
	padding: 10px 15px 15px 15px;
	margin: 0 0 21px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

	.choice p { margin: 0 0 7px 0; }
	
	.choice .btn-wrapper { margin-bottom: 0; }
	
ul.download {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0 0 21px 0;	
	overflow: hidden;
}

	ul.download li {
		display: block;
		padding: 0;
		margin: 0;	
		float: left;
	}
	
		ul.download li a {
			float: left;
			display: block;
			height: 60px;
			background: url(../images/subscriptionDiPlus/sprite.png) 0 -750px no-repeat;
			text-indent: -9999px;
		}
		ul.download li.ios a {
			background-position: 0 -750px;
			width: 187px;
		}
		ul.download li.ios a:hover { background-position: 0 -820px; }
		ul.download li.android a {
			background-position: -187px -750px;
			width: 193px;
		}		
		ul.download li.android a:hover { background-position: -187px -820px; }		

ul.info-links {
	/*
	position: absolute;
	top: 720px;
	left: 560px;
	*/
	display: block;
	list-style: none;
	padding: 0;
	margin: 0 0 50px 0;	
	overflow: hidden;
}

	ul.info-links li {
		display: block;
		padding: 0;
		margin: 0;	
		float: left;
		margin-right: 25px;
	}
	
		ul.info-links li a {
			display: block;
			float: left;
			color: #aaa;
			background: url(../images/subscriptionDiPlus/bg-link.png) 0 4px no-repeat;
			padding-left: 7px;
			text-decoration: none;
			font-size: 10px;
			line-height: 13px;			
		}
		ul.info-links li a:hover { text-decoration: underline; }


/* SurfBoard */

.surfboard {
	position: relative;
	float: left;
	width: 498px;
	height: 754px;
	background: url(../images/subscriptionDiPlus/ipad.jpg) 0 0 no-repeat;
}

	.surfboard img {
		position: absolute;
		z-index: 3;		
		top: 57px;
		left: 54px;
	}
	
	.surfboard .glare {
		position: absolute;
		z-index: 5;
		top: 2px;
		right: 2px;
		width: 280px;
		height: 612px;
		background: url(../images/subscriptionDiPlus/ipad-glare.png) 0 0 no-repeat;
	}
	
	.surfboard a.btn-instructions {
		display: block;
		position: absolute;
		z-index: 10;		
		top: 525px;
		left: -32px;
		width: 154px;
		height: 164px;
		background: url(../images/subscriptionDiPlus/sprite.png) 0 -560px no-repeat;
		text-indent: -9999px;
	}


/* FORM ILLUSTRATION */

.illustration {
	position: relative;
	float: left;
	width: 498px;
	top: 3px;
}

	.illustration img,
	.illustration .img {
		position: relative;
		left: -28px;
		margin: 0 0 0px 0;
	}







.form-nav {
    position: relative;
    height: 35px;
    display: block;
    margin-bottom: 15px;
}

.form-nav ul {
    margin: 0;
    padding: 0;
    height: 35px;
    list-style: none;
    border-bottom: 1px solid #333;
}

.form-nav li {
    position:relative;
    float: left;
    padding: 0;
    margin: 0;
    border: 1px solid #222;
    border-bottom: 0;
    margin-top: 4px;
    margin-right: 4px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.form-nav li.current 
{
    border-color: #333;
    margin-top: 0;
}

.form-nav li:first-child 
{
    margin-left: 4px;    
}

.form-nav li a {
    display: block;
    padding: 0 15px;
    line-height: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: #666;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.form-nav li.current a {
    background: black;
    line-height: 35px;  
    color: White; 
}

.popups, .popup-overlay 
{
    display: none;
}

.popups {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.popup-overlay 
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 999;
}

.popup {
    top: -350px;
    position: relative;
    margin: 50% auto;
    padding: 0 0 50px 0;
    width: 689px;
    background: url(/Templates/Public/images/elements/popup-gold-bg.png) 0 100% no-repeat;
}

.popup .close {
    display: block;
    width: 39px;
    height: 39px;
    position: absolute;
    top: 31px;
    right: 32px;
    text-indent: -9999px;
    background: url(/Templates/Public/images/btns.png) 0 -600px no-repeat;
    cursor: pointer;
    z-index: 1001;
}

.popup .close:hover {
    background-position: 0 -650px;
}

.popup-content {
    padding: 80px 75px 0 50px;
    background: url(/Templates/Public/images/elements/popup-gold-bg.png) 100% 0 no-repeat;   
}

.popup-content-wrapper {
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 10px;
}

.popup-content p {
    font-size: 12px;
    line-height: 1.5;
}

.oneRowCheckBox 
{
    vertical-align: middle; 
}

.oneRowCheckBox input
{
    margin-right: 5px;   
    display: inline; 
}

.oneRowCheckBox label
{
    display: inline;
    font-size: 12px;
    font-weight: normal;   
}

.oneRowCheckBox .field-status
{
    top: 6px;
    left: 250px;
}

.oneRowCheckBox .field-msg-error
{
    text-align: center;
    right: -20px;
    top: -22px;
}

.oneRowCheckBox .field-msg-error p
{
    text-align: center;
}


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}