/* line 4, ../scss/tree.scss */
#wrapper h1 {
  display: none;
}

/* line 7, ../scss/tree.scss */
#right {
  display: none;
}

/* line 9, ../scss/tree.scss */
#image-viewer {
  display: none;
}

/* line 11, ../scss/tree.scss */
#content-wrapper {
  width: 100%;
  margin: -70px 0 0 0;
  padding: 0 0 135px 0;
}

/* line 17, ../scss/tree.scss */
#content {
  width: 100%;
  height: 1085px;
  position: relative;
  background: #d42921 url(tree/tree_bg.jpg);
}
/* line 25, ../scss/tree.scss */
#content ul {
  padding: 0;
}

/* line 28, ../scss/tree.scss */
.tree-item-list {
  list-style: none;
  padding: 0;
}
/* line 11, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
.tree-item-list li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 34, ../scss/tree.scss */
.tree-item {
  position: absolute;
}
/* line 37, ../scss/tree.scss */
.tree-item img {
  display: block;
}
/* line 41, ../scss/tree.scss */
.tree-item a {
  display: block;
  width: 10px;
  height: 10px;
  text-decoration: none;
}

/* Läsplatta */
/* line 55, ../scss/tree.scss */
#tree-item-1 {
  left: 443px;
  top: 130px;
}
/* line 59, ../scss/tree.scss */
#tree-item-1 a {
  width: 89px;
  height: 113px;
}

/* Di WEEKEND */
/* line 66, ../scss/tree.scss */
#tree-item-2 {
  left: 222px;
  top: 260px;
}
/* line 70, ../scss/tree.scss */
#tree-item-2 a {
  width: 107px;
  height: 146px;
}
/* line 77, ../scss/tree.scss */
#tree-item-2 .top {
  left: auto;
  right: 35px;
  text-align: right;
}

/* DAGENS INDUSTRI */
/* line 86, ../scss/tree.scss */
#tree-item-3 {
  left: 414px;
  top: 286px;
}
/* line 90, ../scss/tree.scss */
#tree-item-3 a {
  width: 148px;
  height: 201px;
}

/* Di.SE */
/* line 97, ../scss/tree.scss */
#tree-item-4 {
  left: 609px;
  top: 349px;
}
/* line 101, ../scss/tree.scss */
#tree-item-4 a {
  width: 164px;
  height: 89px;
}
/* line 106, ../scss/tree.scss */
#tree-item-4 .right {
  padding-left: 0;
  left: 95%;
}

/* Di.SE-APPEN */
/* line 114, ../scss/tree.scss */
#tree-item-5 {
  left: 326px;
  top: 450px;
}
/* line 118, ../scss/tree.scss */
#tree-item-5 a {
  width: 46px;
  height: 91px;
}

/* Di DIMENSION */
/* line 125, ../scss/tree.scss */
#tree-item-6 {
  left: 206px;
  top: 516px;
}
/* line 129, ../scss/tree.scss */
#tree-item-6 a {
  width: 95px;
  height: 131px;
}
/* line 134, ../scss/tree.scss */
#tree-item-6 .left {
  top: 35px;
}

/* Di KONFERENS */
/* line 140, ../scss/tree.scss */
#tree-item-7 {
  left: 368px;
  top: 652px;
}
/* line 144, ../scss/tree.scss */
#tree-item-7 a {
  width: 143px;
  height: 71px;
}
/* line 149, ../scss/tree.scss */
#tree-item-7 .top {
  width: 160px;
  padding-bottom: 0;
  left: auto;
  right: 60px;
  text-align: right;
}

/* Di GASELL */
/* line 161, ../scss/tree.scss */
#tree-item-8 {
  left: 743px;
  top: 586px;
}
/* line 165, ../scss/tree.scss */
#tree-item-8 a {
  width: 91px;
  height: 94px;
}
/* line 170, ../scss/tree.scss */
#tree-item-8 .top {
  width: 125px;
}

/* VINKLUBB */
/* line 174, ../scss/tree.scss */
#tree-item-9 {
  left: 266px;
  top: 735px;
}
/* line 178, ../scss/tree.scss */
#tree-item-9 a {
  width: 80px;
  height: 38px;
}
/* line 183, ../scss/tree.scss */
#tree-item-9 .left {
  padding-right: 20px;
  top: 15px;
}

/* Di GULD */
/* line 191, ../scss/tree.scss */
#tree-item-10 {
  left: 672px;
  top: 735px;
}
/* line 195, ../scss/tree.scss */
#tree-item-10 a {
  width: 73px;
  height: 62px;
}
/* line 200, ../scss/tree.scss */
#tree-item-10 .bottom {
  width: 200px;
}


/* DiY */
#tree-item-11 {
  left: 600px;
  top: 474px;
}
#tree-item-11 a {
  width: 107px;
  height: 143px;
}

/* line 205, ../scss/tree.scss */
.tree-item-popup {
  display: none;
}
/* line 208, ../scss/tree.scss */
.tree-item-popup strong {
  font-size: 15px;
  line-height: 1;
  color: #ffebde;
  white-space: nowrap;
}
/* line 216, ../scss/tree.scss */
.tree-item-popup p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.3;
  color: black;
}
/* line 227, ../scss/tree.scss */
.tree-item-popup.left, .tree-item-popup.right, .tree-item-popup.top, .tree-item-popup.bottom {
  position: absolute;
  width: 160px;
}
/* line 232, ../scss/tree.scss */
.tree-item-popup.left, .tree-item-popup.right {
  padding: 0 10px;
}
/* line 236, ../scss/tree.scss */
.tree-item-popup.top, .tree-item-popup.bottom {
  padding: 10px 0;
}
/* line 240, ../scss/tree.scss */
.tree-item-popup.left {
  top: 0;
  right: 100%;
  text-align: right;
}
/* line 247, ../scss/tree.scss */
.tree-item-popup.right {
  top: 0;
  left: 100%;
}
/* line 252, ../scss/tree.scss */
.tree-item-popup.top {
  bottom: 100%;
  left: 0;
}
/* line 257, ../scss/tree.scss */
.tree-item-popup.bottom {
  top: 100%;
  left: 0;
}
