<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="KayakWebServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="KayakWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://91.209.29.37/KayakWebServicesTest2/KayakWebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="KayakWebServiceSoap"
                contract="Kayak.KayakWebServiceSoap" name="KayakWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>