#step-company-registration, #step-info, #information-box{display:none;}

h1.big-heading{ font-size: 7em;}

.submit-container {margin-top: 25px;}
.offer-info{margin-bottom: 30px;}
.offer-heading h2{font-size: 1.2em; font-weight: bold; color:#000;}
.offer-heading strong{font-size: 1.1em; display: inline-block; margin-top: 13px;}
.offer-heading .price-data{ color: #b43633;}

.offers-explanation{ position: relative;top: 8px;left: 10px;}

.logo-area{ margin-bottom: 15px;} 
   
.nav-pills {border:none; margin-top:30px; margin-bottom:20px; margin-left:-5px; margin-right:-5px;}
.nav-pills li{ padding-left:5px; padding-right:5px;}
.nav-pills li a{border: 1px solid #e2beb9; background:#f6e9e4; color:#927976; -webkit-box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.5); }
.nav-pills li.active a, .nav-pills li.active a:hover, .nav-pills li.active a:active, .nav-pills li.active a:focus, .nav-pills li:hover a {background-color: #ffffff !important; -webkit-box-shadow:none; box-shadow:none;}
.nav-pills li a{color:#927976 !important;}

.pren-selection-product-list {display: inline-block;overflow: hidden;position: relative;text-align: left;transition: all 0.2s ease 0s;width: 100%;}
.pren-selection-product-list li:before {background: url(/static/css/img/icon-green-check@2x.png) repeat scroll 0 0 / 20px 15px rgba(0, 0, 0, 0);content: "";display: block;height: 15px;left: 5px;position: absolute;top: 8px;width: 20px;}
.pren-selection-product-list li:nth-child(2n+1) {background: none repeat scroll 0 0 rgba(226, 191, 186, 0.1);}
.pren-selection-product-list li {line-height: 32px;padding-left: 30px;position: relative;}
.pren-selection-product-list.expanded {height: 140px;}
.pren-selection-product-list.expanded:after {opacity: 0;}

.img-container img {width:100%;}

.asterix{position:absolute; right:-8px; top:5px; font-size: 15px;color: #927976;}

#progressbar-container .second.step > label { margin-left: -28px; }

.plate{ background-color: #fff;border-right: 1px solid #d3b2a1;border-bottom: 1px solid #d3b2a1;border-left: 1px solid #d3b2a1;padding: 30px 10px 20px;}
.plate:after, .plate:before{ content: " ";display: table;}
.plate:after { clear: both;}

.business-offers li.active a:before {
    background: rgba(0, 0, 0, 0) url("/static/css/img/icon-green-check@2x.png") repeat scroll 0 0 / 20px 15px;
    content: "";
    display: block;
    height: 15px;
    left: 8px;
    position: absolute;
    top: 14px;
    width: 20px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {background-color: #fff;font-weight: normal;border-color: #D3B2A1 #D3B2A1 transparent;}
.nav-tabs > li:not(.active) > a {background-color: #f7eae4;color: #333;font-weight: normal; margin-top: 0;padding: 10px 35px 8px;}
.nav-tabs > li > a{margin-right: 10px;padding-left: 35px;padding-right: 35px;}  
.nav-tabs > li:nth-child(1) { margin-left: 0; }
.nav-tabs > li {margin-bottom: -3px;}

/* ACTIVATION PAGE*/
.info-area{margin-bottom: 30px;padding-bottom: 10px;border-bottom: 1px solid #f1d9d3; }

@media (max-width: 1199px) {
    h1.big-heading{ font-size: 5em;}
}

@media (max-width: 816px) {
    .plate{border-top:1px solid #d3b2a1;}
    #progressbar-container .step label {font-size: 10px;}
    h1.big-heading{ font-size: 4em;}
}

@media (max-width: 500px) {
    h1.big-heading{ font-size: 3.1em;}
    .btn-lg { font-size: 1em !important;}
    .logo-area img{ max-width: 90px;}
}



